.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.google-auth {
  display: flex;
  flex-direction: column;
}

.logout-button {
  width: 180px;
  height: 36px;
}
.logout-div {
  display: none;
  flex-direction: column;
}
.enter-game-button {
  width: 180px;
  height: 36px;
}

/* login */
.login-div {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  /* background: white url('../pic/Bkg-City-at-Night.png') center center no-repeat; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* color: white; */
}
.login-title {
  font-size: 30px;
}
.logo{
  width: 25%;
}
.tos-text {
  text-decoration: underline;
  margin: 0px 0px 25px 0px;
}
.tos-checkbox-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}
.tos-label {
  /* color: white; */
}
.tos-checkbox {
}
.mdl-checkbox__box-outline {
  /* border-color: white; */
}
/* modal */
.tos-modal {
  display: none;
  position: absolute; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.tos-modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* choose-waypoints */
.choose-waypoint-div {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.waypoint-map {
  width: 100vw;
  height: 100vh;
}
/* modal */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* map */
.map {
  width: 100vw;
  height: 100vh;
}
/* story */
.story-div {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.story-title {
  margin: 15px 0px;
}
.story-content {
  font-size: 20px;
  margin: 15px 10px;
}
.continue-buttons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.continue {
  margin: 0px 10px;
}

/* Game */
/* event modal */
.game-div {
  display: flex;
  position: relative;
  flex-direction: column;
}
.event-modal {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.event-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
.event-pic {
  width: 230px;
  height: 150px;
  /* background: white url("/pic/Random-Zombies.png") no-repeat;
  background-size: 230px 150px; */
}
.resources-gain {
  font-size: 20px;
  margin-bottom: 10px;
}
.resources-gain td {
  text-align: center;
  padding: 5px 5px;
}
/* .event-buttons {
  display: flex;
  width: 100%;
  justify-content: center;
} */
.game-map {
  width: 100vw;
  height: 250px;
}
.gameplay-screen {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  min-height: 300px;
  background: lightblue url("/pic/Bkg-City-at-Night.png") no-repeat;
  background-size: cover;
  border-bottom: 1px solid white;
}
.gameplay-top {
  display: flex;
  width: 100%;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
}
.menu-div {
  position: absolute;
  left: 0px;
  z-index: 1;
}
.menu {
  /* position: absolute; */
  background: white;
  padding: 5px 5px;
  margin: 5px 5px;
  border-radius: 3px;
  font-size: 25px;
}
.drop-down-menu {
  display: none;
  position: absolute;
  background: white;
  width: 130px;
  left: 0px;
  margin: 5px 5px;
  top: 38px;
  border-radius: 3px;
  box-shadow: 0 1px 4px 1px rgba(0,0,0,0.2);
}
.option-li {
  padding: 5px;
  border-bottom: 2px solid grey;
}
.option-li:last-child {
  border-bottom: none;
}
.gameplay-score {
  font-size: 20px;
  margin: 10px 0px;
  color: white;
}
.gameplay-mid {
  display: flex;
  justify-content: center;
  width: 100%;
}
.event-button {
  width: 100px;
  height: 40px;
  border-radius: 2px;
}
.gameplay-bottom {
  width: 100%;
}
.action-buttons {
  /* position: absolute; */
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin-bottom: 3px; */
}
.action-buttons button {
  width: 100px;
}
.action-button {
  flex-grow: 1;
  height: 30px;
  border: 1px solid white;
  background: white;
  margin: 1px 1px;
  border-radius: 2px;
  /* background-color: #43E87A;
  color: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12); */
}
.resources {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 48px;
}
.resource {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  border-radius: 35px;
  margin: 5px 5px;
  background: white;
}
.resource-amount {
  position: absolute;
  background: red;
  color: white;
  padding: 1px 3px;
  font-size: 14px;
  bottom: 0px;
  right: 0px;
}

.directions {
  width: 100%;
  /* background: #80A1D4; */
}
.dir-textfield {
  width: calc(100% - 20px);
  margin: 0px 10px;
  /* padding: 0px 0px; */
}
.dir-textarea {
}
.dir-label {
  /* color: white; */
}
.dir-textfield.is-focused {

}

/* @media screen and (max-width: 479px) {
  /* start of phone styles */

/*
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
