.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.google-auth {
  display: flex;
  flex-direction: column;
}

.logout-button {
  width: 180px;
  height: 36px;
}
.logout-div {
  display: none;
  flex-direction: column;
}
.enter-game-button {
  width: 180px;
  height: 36px;
}

/* login */
.login-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  /* background: white url('../pic/Bkg-City-at-Night.png') center center no-repeat; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* color: white; */
}
.login-title {
  font-size: 30px;
}
.tos-text {
  text-decoration: underline;
  margin: 0px 0px 25px 0px;
}
.tos-checkbox-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}
.tos-label {
  /* color: white; */
}
.tos-checkbox {
}
.mdl-checkbox__box-outline {
  /* border-color: white; */
}
/* modal */
.tos-modal {
  /* display: none; Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.tos-modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* choose-waypoints */
.choose-waypoint-div {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.waypoint-map {
  width: 100vw;
  height: 100vh;
}
/* modal */
.modal {
  /* display: none; Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* map */
.map {
  width: 100vw;
  height: 100vh;
}
/* story */
.story-div {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.story-title {
  margin: 15px 0px;
}
.story-content {
  margin: 15px 10px;
}
.continue-buttons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.continue {
  margin: 0px 10px;
}

/* Game */
.game-div {
  display: flex;
  flex-direction: column;
}
.game-map {
  width: 100vw;
  height: 250px;
}
.gameplay-screen {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 300px;
  background: #C7EAE4;
  border-bottom: 1px solid white;
}

.action-buttons {
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3px;
}
.action-buttons button {
  width: 100px;
}
.action-button {
  background-color: #43E87A;
  color: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.directions {
  width: 100%;
  /* background: #80A1D4; */
}
.dir-textfield {
  width: calc(100% - 20px);
  margin: 0px 10px;
  /* padding: 0px 0px; */
}
.dir-textarea {
}
.dir-label {
  /* color: white; */
}
.dir-textfield.is-focused {

}

/* @media screen and (max-width: 479px) {
  /* start of phone styles */

/*
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
