.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.google-auth {
  display: flex;
  flex-direction: column;
}

.logout-button {
  width: 180px;
  height: 36px;
}
.logout-div {
  display: none;
}

/* map */
.map {
  width: 100vw;
  height: 200px;
}

/* story */
.story-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.story-title {
  margin: 15px 0px;
}
.story-content {
  margin: 15px 10px;
}
.action-buttons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.button {
  margin: 0px 10px;
}

/* path */
.directions {
  width: 100%;
}
.dir-textfield {
  width: 100%;
  /* padding: 0px 0px; */
}
.dir-textarea {
  
}

/*
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
